.cont{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;

}
.facebook{
  font-size: 80px;
  color: blue;
  font-family: sans-serif;
}
.text{
  font-size: 20px;
  color: rgb(22, 22, 25);
  font-family: sans-serif;
}
.UserPass{
  /* background-color: antiquewhite; */
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 20px;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(157, 149, 149);
}
input{
  background-color:  rgb(209, 216, 222);
  width: 100%;
  position: relative;
  border: 0.5px solid black;
  font-size: 20px;
  border-radius: 4px;
  height: 2.5rem;
  text-align: left;
  padding-left: 10px ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
  text-decoration: none;
  
  height: 2.3rem;
}
#sub{
  color: white;
  font-weight: bolder;
}
.submit{
  height: 3.3rem;
  background-color:rgb(24,119,242);
  border: 2px solid rgb(24,119,242);
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  
}
#forget{
  margin-left: 35%;
   color:blue ;
   font-weight: bolder;
}
.newAcc{
  border: 2px solid rgb(66,183,42);
  border-radius: 3px;
  background-color: rgb(66,183,42);
  width: 44%;
  cursor: pointer;
  height:2.4rem;
  margin-left: 32%;
  color: antiquewhite;
  font-weight: bolder;
}
.newText{
  
}


